@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-size: 24px;
    --primary_color : #F29F05;
    --secondary_color: #ffc620;
    --black_color: #2e2e2e;
    --white_color: #fffbeb;
    --container_padding: 20px;
    --gutter: 40px;
}

* {
    /* CSS Resetting */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


/* Tag Selector */
/* h1, label, input {
    } */

li {
    list-style: none;
}

/* Id Selectors */

#title {
    color: var(--secondary_color); 
    text-align: center; 
}

.title {
    color: var(--secondary_color); 
    font-size: 2rem;
}


/* Class selectors */
/* .form-input {
    padding: 10px 20px;
} */


button, input[type="submit"] {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--secondary_color);
    color: var(--black_color);
    border-radius: 8px;
    font-weight: 600;
}

.btn-secondary {
    background-color: var(--black_color);
    border-radius: 8px;
    border: 2px solid var(--secondary_color) !important;
}

.btn-secondary:hover {
    background-color: var(--secondary_color);
    border-radius: 8px;
    color: var(--black_color);
}

.container {
    padding: 30px 60px;
}

.row {
    max-width: 100%;
    text-align: center;
}

.row:not(:last-child) {
    margin-bottom: 2rem;
}

.col-6 {
   display: inline-block;
   width: calc((80% - var(--gutter)) / 2);
}

.col-6:not(:last-child) {
    margin-right: var(--gutter);
}

.col-4 {
    display: inline-block;
    width: calc((80% - var(--gutter)) / 3);
}
.col-4:not(:last-child) {
    margin-right: var(--gutter);
}
 

/* Login Page */

.login {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
}

.login-input {
    padding: 10px 20px;
}


.login-submit {
    background-color: var(--primary_color);
    color: var(--white_color);
}
/* Login End */


/* Navbar Started */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    
    background-color: var(--white_color);
    color: var(--primary_color);
    
    position: fixed;
    right: 45px;
    left: 45px;
    z-index: 1;

}

.nav > div > h1 {
    font-size: 1.5rem;
}

/* combinators */
.nav > div > ul {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
}


.nav > div > ul > li {
    padding-bottom: 12px;
}

.nav > div > ul > li:hover {
    text-underline-offset: 12px;
    text-decoration: underline;
    cursor: pointer;
    /* transition: 300ms;
    transition: all .5s ease-in; */
    /* border-bottom: 1px solid transparent; */
}


/* Navbar end */

/* Main  */
.main {
    display: flex;
    justify-content: space-between;
    background-color: var(--white_color);
    padding: 120px 80px;
    height: 80vh;
    position: relative;
}

.main-left {
    width: 40%;
}

.main-left > img {
    width: 400px;
    border-radius: 16px;
}

.main-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-right > h1 {
    font-size: 2rem;
    color: var(--primary_color);

}

.main-title::selection {
    color: var(--white_color);
    background: var(--primary_color);
}
/* Main End */

/* Enquiry Form */
    .enquiry-form {
        display: flex;
        justify-content: center;
        background-color: var(--white_color);
        border: 2px solid var(--primary_color);
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
        padding: 40px 0;
        margin: 0 90px; 

        position: absolute;
        top: 440px;
        left: 0;
        right: 0;
        
        min-height: 80px;
        border-radius: 16px;
    }

    .enquiry-form > form {
        display: flex;
        gap: 20px
    } 

    .enquiry-input {
        display: flex;
        flex-direction: column;
    }


    .enquiry-input > label {
        position: absolute;
        top: 16px;
        /* left: 4px; */
    }

    

    .enquiry-input > input {
        border-radius: 8px;
        background-color: var(--white_color);
        border: 2px solid var(--black_color);
        padding: 8px 16px;
    }

    .enquire-btn {
        border-radius: 10px;
        font-weight: bold;
    }
/* Enquiry end */


/* Our Services */

.our-services {
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;
}

.our-services-content {
    min-height: 100px;
    background-color: var(--primary_color);
}

.animated-orange-from-left {
    width: 80px;
    height: auto;

    position: absolute;
    top: 182px;
    animation-name: right-move;
    animation-duration:  10s;
    animation-timing-function: infinite;
     /* 0s  */
    /* 2 */
    /* animation-direction:  alternate; */
}


.animated-orange-from-right {
    width: 80px;
    height: auto;

    position: absolute;
    top: 182px;
    right: 0;
    animation: left-move 10s ease-in 2s;
}

@keyframes right-move {
    from {
        left: 0;
        transform:rotate(0deg); 
    }

    to {
        left: 420px;
        transform:rotate(360deg); 

    }
}

@keyframes left-move {
    from {
        right: 0;
        transform:rotate(360deg); 
    }

    to {
        right: 420px;
        transform:rotate(0deg); 
    }
}
/* Our Services */


/* Standard Breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .nav > div > ul {
    display: none;
   }

   .nav {
    text-align: center;
   }

   .main {
    display: flex;
    flex-direction: column;
   }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* CSS Reset Code Started */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}
/* CSS Reset Code End */

:root {                          
  --font-size: 24px;
  --primary-color: #2b70c5;
  --secondary-color: #1566d6;
  --light-color: #fff;
  --gray-color: #303236;
  --btn-primary: #0d6efd;
  --section-spacing: 6rem 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--gray-color);
}

button {
  padding: 18px 24px;
  border-radius: 2rem;
  font-size: 16px;
}

/*utility & Re-used CSS Code Started */

.txtCenter {
  text-align: center;
}

.wfull {
  width: 100%;
}

.hfull {
  height: 100%;
}

.active {
  background-color: var(--primary-color);
}

.primary-text {
  color: var(--primary-color);
}

.text-sm {
  font-size: 22px;
  font-weight: 500;
  margin: 1rem 0;
}

.text-bg {
  font-size: 67px;
  font-weight: 600;
  margin: 1rem 0;
}

.jarvis-heading {
  font-size: 50px;
  font-weight: 600;
  margin: 1.3rem 0;
  color: rgb(48, 50, 54);
}
.jarvis-subtitle {
  font-size: 16px;
  line-height: 1.5rem;
  color: rgb(48, 50, 54);
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  gap: 1.5rem;
}

.section-spancing {
  padding: var(--section-spacing);
}

/* Re-used CSS Code End */

/* navbar code start*/

.navbar {
  display: flex;
  justify-content: center;
  column-gap: 7rem;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(236, 236, 236);
  position: absolute;
  background-color: white;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list a {
  margin: 0 0.7rem;
  display: flex;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.nav-list a::after {
  content: "";
  background-color: #0d6efd;
  height: 3px;
  width: calc(100% + 1.6rem);
  position: absolute;
  left: -0.9rem;
  bottom: -2.2rem;
  opacity: 0;
  transition: 0.5s;
}

.nav-list a:hover::after,
.nav-list a:focus::after {
  opacity: 100%;
}

.nav-list a img {
  margin: 0 5px;
}

.nav-list > button[type="submit"] {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  margin-left: 1rem;
}

/* navbar code end */

/* navbar dropdown code started */

.navbar-dropdown {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  position: absolute;
  top: 13%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
  z-index: 5;
}

.dropdown-list {
  background-color: rgb(255, 255, 255);
  padding: 2rem 5rem;
}

.dropdown-heading {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.dropdown-list a {
  margin: 1rem;
}

.dropdown-list div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 10px;
}

.dropdown-list-heading {
  font-size: 16px;
  font-weight: 600;
}

.dropdown-list div p {
  margin-left: 2.4rem;
  font-size: 14px;
  padding: 12px 0;
  color: rgb(103, 110, 118);
}

.solution-dropdown {
  padding-top: 11vh;
  display: flex;
  gap: 4rem;
}

.dropdown-flex {
  display: flex;
  flex-direction: column;
}

.dropdown-flex a {
  margin: -1px;
}

.dropdown-flex > a > p {
  color: rgb(33, 37, 41);
  position: absolute;
  top: 1rem;
  left: 2rem;
}
/* navbar dropdown code End*/

/* hero section code started*/

.hero-section {
  width: 60%;
  color: rgba(48, 50, 54, 1);
  margin: 1.5rem auto;
  margin-top: 12%;
}

.hero-section p:first-child {
  font-size: 14px;
  font-weight: 600;
}

.hero-section-btn {
  background-color: rgb(255, 255, 255);
  padding: 1.2rem 2.8rem;
  font-size: 20px;
  border: 1px solid rgb(185, 185, 185);
  cursor: pointer;
  margin: 1.8rem 0;
  transition: background-color 0.7s ease;
}

.hero-section-btn:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: white;
}
.jarvis-video {
  padding-left: 42px;
  padding-right: 42px;
}

/* Hero section code end */

/* Analyze code started */

.analyze-section {
  margin: 0 auto;
  padding: 12rem 5rem;
  width: 80%;
}

.feature-box {
  height: 11.9rem;
  margin: 1rem;
  border-radius: 1rem;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(208, 214, 218);
}

.feature-box img {
  margin-right: 2rem;
}

/* Analyze code end */

/* why jarvis section code started */

.why-jv-section {
  background: linear-gradient(
      0deg,
      rgba(43, 112, 197, 0.04) 0%,
      rgba(43, 112, 197, 0.04) 100%
    ),
    #fff;
}

.container {
  width: 80%;
  margin: auto;
}

/* why jarvis section code end */

/* serve section code started*/
.serve-imgs img {
  width: 100%;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.serve-imgs img:hover {
  transform: scale(0.8);
}

/* serve section code end*/

/* partners section code started */
.logos-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  row-gap: 1rem;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 190px;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid rgb(194, 194, 194);
}


.companys-logo {
  margin: 7% 9%;
  column-gap: 1rem;
  display: flex;
  overflow-x: scroll;
  overflow: hidden;
}
.companys-logo::-webkit-scrollbar {
  overflow: hidden;
}

.slider {
  position: relative;
}

.slider-btn {
  display: none;
}

.slider-navigation {
  position: absolute;
  left: 49%;
  top: 100%;
}

.manual-btn {
  border-radius: 20px;
  background-color: #cacaca77;
  padding: 0px 10px;
  margin-right: 20px;
  font-size: 10px;
  cursor: pointer;
}

#radio-btn1{
  background-color: #1566d6;
}

.manual-btn:hover{
  background-color: #0d6efd;
}

#btn1:checked ~ .first-slide {
  transition: 0.8s;
}

#btn2:checked ~ .first-slide {
  margin-left: -100%;
  transition: 0.8s;
}
/* partners section code end */

/* Collaborator section code started */

.collaborator-section {
  padding: calc(var(--section-spacing)-4rem);
}

.collab-img-flex {
  display: flex;
  justify-content: center;
  margin: 5% 17%;
  gap: 2rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.collab-logo img {
  filter: grayscale(1);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.collab-logo img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* Collaborator section code End*/

/* media section code started */

.media-img-flex {
  display: flex;
  margin-block: 5%;
  margin-inline: 22%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  column-gap: 1.5rem;
}

.media-logo {
  display: flex;
  justify-content: center;
  width: 12vw;
}

.media-logo img {
  height: 60px;
  filter: grayscale(100%);
}

/* media section code end */

/* contact section code started */



/* contact section code End */
