@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary_color : #F29F05;
    --secondary_color: #ffc620;
    --black_color: #2e2e2e;
    --white_color: #fffbeb;
    --container_padding: 20px;
    --gutter: 40px;
}

* {
    /* CSS Resetting */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


/* Tag Selector */
/* h1, label, input {
    } */

li {
    list-style: none;
}

/* Id Selectors */

#title {
    color: var(--secondary_color); 
    text-align: center; 
}

.title {
    color: var(--secondary_color); 
    font-size: 2rem;
}


/* Class selectors */
/* .form-input {
    padding: 10px 20px;
} */


button, input[type="submit"] {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--secondary_color);
    color: var(--black_color);
    border-radius: 8px;
    font-weight: 600;
}

.btn-secondary {
    background-color: var(--black_color);
    border-radius: 8px;
    border: 2px solid var(--secondary_color) !important;
}

.btn-secondary:hover {
    background-color: var(--secondary_color);
    border-radius: 8px;
    color: var(--black_color);
}

.container {
    padding: 30px 60px;
}

.row {
    max-width: 100%;
    text-align: center;
}

.row:not(:last-child) {
    margin-bottom: 2rem;
}

.col-6 {
   display: inline-block;
   width: calc((80% - var(--gutter)) / 2);
}

.col-6:not(:last-child) {
    margin-right: var(--gutter);
}

.col-4 {
    display: inline-block;
    width: calc((80% - var(--gutter)) / 3);
}
.col-4:not(:last-child) {
    margin-right: var(--gutter);
}
 

/* Login Page */

.login {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
}

.login-input {
    padding: 10px 20px;
}


.login-submit {
    background-color: var(--primary_color);
    color: var(--white_color);
}
/* Login End */


/* Navbar Started */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    
    background-color: var(--white_color);
    color: var(--primary_color);
    
    position: fixed;
    right: 45px;
    left: 45px;
    z-index: 1;

}

.nav > div > h1 {
    font-size: 1.5rem;
}

/* combinators */
.nav > div > ul {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
}


.nav > div > ul > li {
    padding-bottom: 12px;
}

.nav > div > ul > li:hover {
    text-underline-offset: 12px;
    text-decoration: underline;
    cursor: pointer;
    /* transition: 300ms;
    transition: all .5s ease-in; */
    /* border-bottom: 1px solid transparent; */
}


/* Navbar end */

/* Main  */
.main {
    display: flex;
    justify-content: space-between;
    background-color: var(--white_color);
    padding: 120px 80px;
    height: 80vh;
    position: relative;
}

.main-left {
    width: 40%;
}

.main-left > img {
    width: 400px;
    border-radius: 16px;
}

.main-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-right > h1 {
    font-size: 2rem;
    color: var(--primary_color);

}

.main-title::selection {
    color: var(--white_color);
    background: var(--primary_color);
}
/* Main End */

/* Enquiry Form */
    .enquiry-form {
        display: flex;
        justify-content: center;
        background-color: var(--white_color);
        border: 2px solid var(--primary_color);
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
        padding: 40px 0;
        margin: 0 90px; 

        position: absolute;
        top: 440px;
        left: 0;
        right: 0;
        
        min-height: 80px;
        border-radius: 16px;
    }

    .enquiry-form > form {
        display: flex;
        gap: 20px
    } 

    .enquiry-input {
        display: flex;
        flex-direction: column;
    }


    .enquiry-input > label {
        position: absolute;
        top: 16px;
        /* left: 4px; */
    }

    

    .enquiry-input > input {
        border-radius: 8px;
        background-color: var(--white_color);
        border: 2px solid var(--black_color);
        padding: 8px 16px;
    }

    .enquire-btn {
        border-radius: 10px;
        font-weight: bold;
    }
/* Enquiry end */


/* Our Services */

.our-services {
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;
}

.our-services-content {
    min-height: 100px;
    background-color: var(--primary_color);
}

.animated-orange-from-left {
    width: 80px;
    height: auto;

    position: absolute;
    top: 182px;
    animation-name: right-move;
    animation-duration:  10s;
    animation-timing-function: infinite;
     /* 0s  */
    /* 2 */
    /* animation-direction:  alternate; */
}


.animated-orange-from-right {
    width: 80px;
    height: auto;

    position: absolute;
    top: 182px;
    right: 0;
    animation: left-move 10s ease-in 2s;
}

@keyframes right-move {
    from {
        left: 0;
        transform:rotate(0deg); 
    }

    to {
        left: 420px;
        transform:rotate(360deg); 

    }
}

@keyframes left-move {
    from {
        right: 0;
        transform:rotate(360deg); 
    }

    to {
        right: 420px;
        transform:rotate(0deg); 
    }
}
/* Our Services */


/* Standard Breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .nav > div > ul {
    display: none;
   }

   .nav {
    text-align: center;
   }

   .main {
    display: flex;
    flex-direction: column;
   }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}